.container{
    text-align: center;
}

label{
    font-size: 30px;
    font-weight:bold;
    margin-right: 10px;
}

input{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;

    &:focus{
        outline: none;
    }
}

.info{
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
}

.section {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(37, 36, 36);
}

.red {
  background: rgb(234, 115, 115);
}

.orange {
  background: rgb(226, 171, 68);
}

.green {
  background: rgb(127, 244, 127);
}

.grey {
    background: grey;
}