<div class="container">
  <label for="password">Password:</label>
  <input
    id="password"
    [(ngModel)]="password"
    (input)="checkPassword()"
    type="text"
  />
  <p class="info">
    Password Strength:
    <span *ngIf="strength === 'empty'">Empty</span>
    <span *ngIf="strength === 'short'">Short</span>
    <span *ngIf="strength === 'easy'">Easy</span>
    <span *ngIf="strength === 'medium'">Medium</span>
    <span *ngIf="strength === 'strong'">Strong</span>
  </p>

  <p
    [ngClass]="{ 'section': true, 'grey': strength==='empty' , 'red': strength === 'short' ||  strength === 'easy', 'orange': strength==='medium', 'green': strength==='strong' }"
  >
    Easy
  </p>
  <p
    [ngClass]="{ 'section': true, 'grey': strength==='empty' || strength === 'easy', 'red': strength === 'short', 'orange': strength === 'medium', 'green':  strength === 'strong' }"
  >
    Medium
  </p>
  <p
    [ngClass]="{ 'section': true, 'grey': strength==='empty'|| strength === 'medium' ||  strength === 'easy'  , 'red': strength === 'short' , 'green': strength === 'strong' }"
  >
    Strong
  </p>
</div>
